/* GLOBAL */
* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
	background-color: black;
}



/* ALL PAGES */
header {
	height: 150px;
	padding-top: 40px;
	background-color: #031003;
	text-align: center;
	font-size: 1.5em;
	color: #003600;
	text-shadow: 2px 2px 10px #09EC09;
	border-bottom: 1px solid #0B770B;
}

h1 {
	font-family: 'Audiowide', arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	padding: 10px 20px 0px;
	margin-bottom: 0;
}

.column {
	float: left;
	height: calc(100% - 150px);
}

#navColumn {
	height: 100%;
	width: 20%;
}

#navColumn ul {
	width: 100%;
}

#navColumn li {
	padding: 15px;
	height: 50px;
	width: 100%;
	background-color: #003600;
	transition: background-color 0.3s ease-in-out;
}

#navColumn li:nth-child(even) {
	background-color: #004500;
}

#navColumn li:hover {
	cursor: pointer;
	background-color: #0B770B;
}

#navColumn a {
	text-decoration: none;
	font-weight: bold;
	color: #D6F2D6;
}

#chatWindow {
	height: calc(80% - 120px);
	background-color: #031003;
	padding: 10px;
	overflow-y: scroll;
}

#chatWindow p {
	padding: 10px;
	margin-top: 5px;
	border-radius: 1em;
	word-wrap: break-word;
	color: #D6F2D6;
	background-color: #0B770B;
}

#chatInput {
	width: 100%;
	height: calc(20% - 30px);
	word-wrap: break-word;
}

#chatWindow p.userMsg {
	text-align: right;
	background-color: #600960;
	color: #E8CDE8;
}

#chatWindow p.otherUserMsg {
	background-color: #D6861A;
	color: #FFF3E2;
}

a {
	color: #0B770B;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #00DA00;
}

article {
	width: 80%;
	float: right;
	text-align: center;
	color: #D6F2D6;
}


/* LOGIN/SIGNUP FORMS */
#userForm {
	background-color: #031003;
	height: 270px;
    width: 400px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	border: 1px solid #0B770B;
}

nav {
	padding: 15px;
}

.navlink {
	display: inline-block;
	margin: 5px 10px;
	padding: 10px 30px;
	color: #D6F2D6;
	background-color: #003600;
	transition: background-color 0.3s ease-in-out;
}

.navlink:hover {
	background-color: #0B770B;
	color: #D6F2D6;
	text-decoration: none;
}

.mainForm {
    margin: 0 auto;
}

label {
	display: inline-block;
	height: 25px;
	padding: 0 5px;
	margin-bottom: 15px;
	color: #D6F2D6;
	font-weight: bold;
}

#user, #pass, #pass2 {
    text-align: center;
	height: 25px;
    width: 180px;
	margin-bottom: 15px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #00DA00;
}

#errorMessage {
	margin-top: 30px;
	color: red;
	font-weight: bold;
}



/* ACCOUNT PAGE */
#userInfo h1 {
	margin-bottom: 20px;
	font-size: 30px;
}

#userInfo p {
	font-size: 1.15em;
}

.userStats {
	width: 450px;
	background-color: #003600;
	padding: 10px;
	margin: 0 auto;
	text-align: left;
}

.userStats:nth-child(odd) {
	background-color: #004500;
}

span.statistic {
	float: right;
}

#renamePlayer {
	margin-top: 20px;
}

#renamePlayer p {
	margin-bottom: 10px;
}



/* GAME PAGE */
canvas {
	background-image: url("img/background.png");
	background-size: cover;
	margin-top: -20px;
}

#canvasContainer {
	width: 100%;
	text-align: center;
}

#serverInfo {
	position: relative;
	top: 25px;
	text-align: center;
	color: #D6F2D6;
}



/* ONLINE USERS LIST PAGE */
#onlineUsersContainer {
	padding: 20px;
}

#onlineUsersContainer h2 {
	margin-bottom: 15px;
}

#onlineUsersList {
	margin: 0 auto;
	width: 40%;
}

#onlineUsersList li {
	list-style: none;
	padding: 10px;
	background-color: #003600;
}

#onlineUsersList li:nth-child(odd) {
	background-color: #004500;
}