html(lang="en")

  block head
    meta(charset="utf-8")
    title Kinesthesia
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(rel="shortcut icon", href="/assets/images/favicon.png")
    link(rel="stylesheet", type="text/css", href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel="stylesheet", type="text/css", href='https://fonts.googleapis.com/css?family=Audiowide') 
  block style
      link(rel="stylesheet", type="text/css", href="/assets/css/style.css")
    
  block body
    section#navColumn.column
      ul
        li
          a(href="/account") My Account
        li
          a(href="/game") Play Game
        li
          a(href="/usersOnline") Online Users
        li
          a(href="/documentation") Documentation
      div#chatWindow
        p.serverMsg You are not logged in.
      textarea#chatInput(placeholder="Type here to chat", rows="10", cols="25")
    
    block content
      header
        h1 Kinesthesia
    
  block scripts
    script(src="/assets/chat.js")
    script(src="/assets/sendAjax.js")
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript').
      var userdata = (!{JSON.stringify({stats})}).stats
      if ("#{stats.username}" != "undefined")
        userdata.username = "!{stats.username}"
      Object.freeze(userdata)
      var socket, globalUserColor, globalOpponentName, globalOpponentColor;