extends ./base.jade

block append content
  article
    h3#serverInfo Waiting for game to start
    div#canvasContainer
    input#token(type="hidden", name="_csrf", value="#{csrfToken}")

block append scripts
  script(src="/assets/matter.min.js")
  script(src="/assets/pixi.min.js")
  script(src="/assets/kinesthesia.js")