extends ./base.jade
block append content
  nav
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  section#login
    form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
      label(for="username") Username: 
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password: 
      input#pass(type="password", name="pass", placeholder="password")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#loginSubmit(href="#") Sign in
  section
    h2#errorMessage
block scripts
    script(src="/assets/client.js")