extends ./base.jade
block append content
  article
    #userForm
      nav
        a.navlink(href="/login") Login
        a.navlink(href="/signup") Sign up
      form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
        label(for="username") Username: 
        input#user(type="text", name="username", placeholder="username")
        <br />
        label(for="pass") Password: 
        input#pass(type="password", name="pass", placeholder="password")
        <br />
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        a#loginSubmit(class="navlink", href="#") Sign in
      section
        h2#errorMessage
block scripts
    script(src="/assets/client.js")